
.wrapper {
    width: 90%;
    margin: 0 auto;
}

.about-me-info {
    margin-top: 40px;
}

footer {
    margin-top: 100px;
}

@media screen and (min-width: 37.5em) {
    .about-me {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .about-me img {
        width: 70%;
    }

    .about-me-info {
        text-align: center;
        padding: 0px 25px 0px 24px;
    }

    .about-me p {
        padding: 0px 50px 0px 50px;
    }
}

@media screen and (min-width: 50em) {
    p {
        font-size: 20px;
    }

    .about-me h2 {
        order: -3;
    }

    .about-me img {
        order: -2;
        width: 80%;
        margin-left: 40px;
    }

    .about-me {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .about-me p {
        order: -1;
        padding-right: 100px;
    }

    .about-me-info {
        padding: 0px 50px 0px 50px;
    }
}

@media screen and (min-width: 64em) {
    .about-me p {
        padding-right: 150px;
    }

    .about-me-info {
        padding: 0px 50px 0px 50px;
    }
}