h1 {
    font-family: 'Avenir', sans-serif;
}

h2 {
    font-family: 'Avenir', sans-serif;                                        
}

h3 {
    font-family: 'Avenir', sans-serif;
}

p {
    font-size: 18px;
    font-family: 'Avenir', sans-serif;                                           
}

.wrapper {
    width: 90%;
    margin: 0 auto;
}

.about-me-info {
    margin: 20px;
}

footer {
    margin-top: 100px;
}

@media screen and (min-width: 37.5em) {
    .about-me {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .about-me img {
        width: 70%;
    }

    .about-me p {
        margin-left: 120px;
        margin-right: 120px;
    }

}

@media screen and (min-width: 50em) {
    p {
        font-size: 20px;
    }

    .about-me h2 {
        order: -3;
    }

    .about-me img {
        order: -2;
        width: 100%;
    }

    .about-me {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .about-me p {
        order: -1;
        margin: 0px 60px 0px 60px;
    }
}